@import "../variables.scss";

.header {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color-1;
  color: $primary-color-2;
  padding: $padding;
  margin: $margin;
  input {
    width: 500px;
    color: $primary-color-2;
    border: solid 1px $primary-color-2;
  }
}
